<h1>Rapaz</h1>
<p>O nome do usuário é {{user.name}} e ele tem {{user.idade}} anos.</p>

{{#if auth}}
<p>Você está autenticado, <a href="/dashboard">Clique Aqui</a> para acessar o dashboard</p>

{{else}}
<p>Você não esta autenticado</p>
{{/if}}