<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js + Sequelize</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav id="navbar">
        <u>
            <li><a href="/">Cadastrar</a></li>
        </u>
    </nav>
    {{{body}}}
</body>
</html>