<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Usuário</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Adicione um User: </h1>
    <form action="/user/save" method="POST">
        <input type="text" name="user" placeholder="Digite um nome de usuário"/>
        <input type="text" name="email" placeholder="Digite seu email"/>
        <input type="submit" value="Add"/>
    </form>
</body>
</html>